.home-container {
  width: 100%;
  background-color: rgb(245, 242, 242);
  margin: 0;
}

.card-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  // .carousel {

  // }
  .card-all-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
    column-gap: 2%;
    justify-content: flex-start;
    padding: 3% 0;
    .card-all {
      width: 15%;
      height: 320px;
      position: relative;
      cursor: pointer;
      .shade {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: none;
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.6),
          rgba(0, 0, 0, 1)
        );
        border-radius: 15px;
      }
      .card-quality {
        position: absolute;
        top: 4%;
        right: 6%;
        background-color: yellow;
        padding: 5%;
        border-radius: 5px;
        z-index: 2;
      }
      .card-play {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 3;
        .play-btn {
          display: block;
          color: rgb(222, 220, 220);
        }
      }
      &:hover {
        .shade {
          display: block;
        }
        .card-play {
          display: flex;
        }
      }
    }
  }
  .suggestion {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 5%;
      .suggestion-category {
        line-height: 50px;
        height: 100%;
        width: 25%;
        text-align: center;
        background-color: rgb(121, 193, 66);
        color: white;
      }
      .suggestion-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
        width: 50%;
        list-style-type: none;
        li {
          display: inline-block;
          width: 25%;
          height: 100%;
          
          a {
            text-decoration: none;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            color: rgb(54, 53, 53);
            line-height: 50px;
            overflow: hidden;
            border-radius: 5px;
            &:hover {
              background-color: white;
            }
          }

        }
      }
    }
    .more {
      line-height: 40px;
      height: 80%;
      background-color: rgb(121, 193, 66);
      width: 9%;
      border-radius: 3px;
      a {
        font-size: 14px;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        text-decoration: none;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 678px) {
  .home-container {
    width: 100%;
    background-color: rgb(245, 242, 242);
    margin: 0;
  }
  .carousel {
    display: none;
  }
  .card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .card-all-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 20px;
      column-gap: 1%;
      justify-content: flex-start;
      padding: 3% 0;
      .card-all {
        width: 32%;
        height: 320px;
        position: relative;
        cursor: pointer;
        .shade {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: none;
          background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.6),
            rgba(0, 0, 0, 1)
          );
          border-radius: 15px;
        }
        .card-quality {
          position: absolute;
          top: 4%;
          right: 6%;
          background-color: yellow;
          padding: 5%;
          border-radius: 5px;
          z-index: 2;
        }
        .card-play {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          align-items: center;
          justify-content: center;
          z-index: 3;
          .play-btn {
            display: block;
            color: rgb(222, 220, 220);
          }
        }
        &:hover {
          .shade {
            display: block;
          }
          .card-play {
            display: flex;
          }
        }
      }
    }
    .suggestion {
      padding-top: 10px;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5%;
        .suggestion-category {
          font-size: 13px;
          line-height: 50px;
          height: 100%;
          width: 25%;
          text-align: center;
          background-color: rgb(121, 193, 66);
          color: white;
        }
        .suggestion-link {
          font-size: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          height: 100%;
          width: 50%;
          list-style-type: none;
          li {
            display: inline-block;
            width: 25%;
            height: 100%;
            
            a {
              text-decoration: none;
              text-align: center;
              display: block;
              width: 100%;
              height: 100%;
              color: rgb(54, 53, 53);
              line-height: 50px;
              overflow: hidden;
              border-radius: 5px;
              &:hover {
                background-color: white;
              }
            }
  
          }
        }
      }
      .more {
        line-height: 40px;
        height: 80%;
        background-color: rgb(121, 193, 66);
        width: 9%;
        border-radius: 3px;
        a {
          font-size: 13px;
          width: 100%;
          height: 100%;
          text-align: center;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 678px) {
  .home-container {
    width: 100%;
    background-color: rgb(245, 242, 242);
    margin: 0;
  }
  
  .card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .card-all-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 20px;
      column-gap: 1%;
      justify-content: flex-start;
      padding: 3% 0;
      .card-all {
        width: 32%;
        height: 320px;
        position: relative;
        cursor: pointer;
        .shade {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: none;
          background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.6),
            rgba(0, 0, 0, 1)
          );
          border-radius: 15px;
        }
        .card-quality {
          position: absolute;
          top: 4%;
          right: 6%;
          background-color: yellow;
          padding: 5%;
          border-radius: 5px;
          z-index: 2;
        }
        .card-play {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          align-items: center;
          justify-content: center;
          z-index: 3;
          .play-btn {
            display: block;
            color: rgb(222, 220, 220);
          }
        }
        &:hover {
          .shade {
            display: block;
          }
          .card-play {
            display: flex;
          }
        }
      }
    }
    .suggestion {
      padding-top: 10px;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5%;
        .suggestion-category {
          font-size: 15px;
          line-height: 50px;
          height: 100%;
          width: 25%;
          text-align: center;
          background-color: rgb(121, 193, 66);
          color: white;
        }
        .suggestion-link {
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          height: 100%;
          width: 50%;
          list-style-type: none;
          li {
            display: inline-block;
            width: 25%;
            height: 100%;
            
            a {
              text-decoration: none;
              text-align: center;
              display: block;
              width: 100%;
              height: 100%;
              color: rgb(54, 53, 53);
              line-height: 50px;
              overflow: hidden;
              border-radius: 5px;
              &:hover {
                background-color: white;
              }
            }
  
          }
        }
      }
      .more {
        line-height: 40px;
        height: 80%;
        background-color: rgb(121, 193, 66);
        width: 9%;
        border-radius: 3px;
        a {
          font-size: 14px;
          width: 100%;
          height: 100%;
          text-align: center;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 678px) {
  .home-container {
    width: 100%;
    background-color: rgb(245, 242, 242);
    margin: 0;
  }
  
  .card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    // .carousel {
  
    // }
    .card-all-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 20px;
      column-gap: 1%;
      justify-content: flex-start;
      padding: 3% 0;
      .card-all {
        width: 24%;
        height: 320px;
        position: relative;
        cursor: pointer;
        .shade {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: none;
          background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.6),
            rgba(0, 0, 0, 1)
          );
          border-radius: 15px;
        }
        .card-quality {
          position: absolute;
          top: 4%;
          right: 6%;
          background-color: yellow;
          padding: 5%;
          border-radius: 5px;
          z-index: 2;
        }
        .card-play {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          align-items: center;
          justify-content: center;
          z-index: 3;
          .play-btn {
            display: block;
            color: rgb(222, 220, 220);
          }
        }
        &:hover {
          .shade {
            display: block;
          }
          .card-play {
            display: flex;
          }
        }
      }
    }
    .suggestion {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5%;
        .suggestion-category {
          font-size: 15px;
          line-height: 50px;
          height: 100%;
          width: 25%;
          text-align: center;
          background-color: rgb(121, 193, 66);
          color: white;
        }
        .suggestion-link {
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          height: 100%;
          width: 50%;
          list-style-type: none;
          li {
            display: inline-block;
            width: 25%;
            height: 100%;
            
            a {
              text-decoration: none;
              text-align: center;
              display: block;
              width: 100%;
              height: 100%;
              color: rgb(54, 53, 53);
              line-height: 50px;
              overflow: hidden;
              border-radius: 5px;
              &:hover {
                background-color: white;
              }
            }
  
          }
        }
      }
      .more {
        line-height: 40px;
        height: 80%;
        background-color: rgb(121, 193, 66);
        width: 9%;
        border-radius: 3px;
        a {
          font-size: 14px;
          width: 100%;
          height: 100%;
          text-align: center;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .home-container {
    width: 100%;
    background-color: rgb(245, 242, 242);
    margin: 0;
  }
  
  .card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    // .carousel {
  
    // }
    .card-all-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 20px;
      column-gap: 1%;
      justify-content: flex-start;
      padding: 3% 0;
      .card-all {
        width: 19%;
        height: 320px;
        position: relative;
        cursor: pointer;
        .shade {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: none;
          background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.6),
            rgba(0, 0, 0, 1)
          );
          border-radius: 15px;
        }
        .card-quality {
          position: absolute;
          top: 4%;
          right: 6%;
          background-color: yellow;
          padding: 5%;
          border-radius: 5px;
          z-index: 2;
        }
        .card-play {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          align-items: center;
          justify-content: center;
          z-index: 3;
          .play-btn {
            display: block;
            color: rgb(222, 220, 220);
          }
        }
        &:hover {
          .shade {
            display: block;
          }
          .card-play {
            display: flex;
          }
        }
      }
    }
    .suggestion {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        column-gap: 5%;
        .suggestion-category {
          line-height: 50px;
          height: 100%;
          width: 25%;
          text-align: center;
          background-color: rgb(121, 193, 66);
          color: white;
        }
        .suggestion-link {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          height: 100%;
          width: 50%;
          list-style-type: none;
          li {
            display: inline-block;
            width: 25%;
            height: 100%;
            
            a {
              text-decoration: none;
              text-align: center;
              display: block;
              width: 100%;
              height: 100%;
              color: rgb(54, 53, 53);
              line-height: 50px;
              overflow: hidden;
              border-radius: 5px;
              &:hover {
                background-color: white;
              }
            }
  
          }
        }
      }
      .more {
        line-height: 40px;
        height: 80%;
        background-color: rgb(121, 193, 66);
        width: 9%;
        border-radius: 3px;
        a {
          font-size: 14px;
          width: 100%;
          height: 100%;
          text-align: center;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .home-container {
    width: 100%;
    background-color: rgb(245, 242, 242);
    margin: 0;
  }
  
  .card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    // .carousel {
  
    // }
    .card-all-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 30px;
      column-gap: 2%;
      justify-content: flex-start;
      padding: 3% 0;
      .card-all {
        width: 15%;
        height: 320px;
        position: relative;
        cursor: pointer;
        .shade {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: none;
          background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.6),
            rgba(0, 0, 0, 1)
          );
          border-radius: 15px;
        }
        .card-quality {
          position: absolute;
          top: 4%;
          right: 6%;
          background-color: yellow;
          padding: 5%;
          border-radius: 5px;
          z-index: 2;
        }
        .card-play {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          align-items: center;
          justify-content: center;
          z-index: 3;
          .play-btn {
            display: block;
            color: rgb(222, 220, 220);
          }
        }
        &:hover {
          .shade {
            display: block;
          }
          .card-play {
            display: flex;
          }
        }
      }
    }
    .suggestion {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5%;
        .suggestion-category {
          line-height: 50px;
          height: 100%;
          width: 25%;
          text-align: center;
          background-color: rgb(121, 193, 66);
          color: white;
        }
        .suggestion-link {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          height: 100%;
          width: 50%;
          list-style-type: none;
          li {
            display: inline-block;
            width: 25%;
            height: 100%;
            
            a {
              text-decoration: none;
              text-align: center;
              display: block;
              width: 100%;
              height: 100%;
              color: rgb(54, 53, 53);
              line-height: 50px;
              overflow: hidden;
              border-radius: 5px;
              &:hover {
                background-color: white;
              }
            }
  
          }
        }
      }
      .more {
        line-height: 40px;
        height: 80%;
        background-color: rgb(121, 193, 66);
        width: 9%;
        border-radius: 3px;
        a {
          font-size: 14px;
          width: 100%;
          height: 100%;
          text-align: center;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}